h1{
    text-align: center;

}

.visible{
    background-color: burlywood;
    width: 300px;
    height: 50px;
    border: 3px solid coral;
    overflow: visible;          /* overflow:visible   varsayilan degerdir degismez */

}

.hidden {
    background-color: cornflowerblue;
    width: 300px;
    height: 50px;
    border: darkslateblue;
    overflow: hidden;       /*overflow : hidden iceri aldi */
}
.scroll{
    background-color: gray;
    width: 300px;
    height: 50px;
    border: 3px solid pink;
    overflow: scroll;                /*hem asagi hemde kenara scrool verir */
}

              
.auto {
    background-color:  purple;
    width: 300px;
    height: 50px;
    border: 3px solid red;
    overflow: auto; 
}

.overflow_xy {
    background-color: royalblue;
    width: 300px;
    height: 50px;
    border: 3px solid gray;
    overflow-x: hidden;
    overflow-y: scroll; 
    
}