.container {
    display: grid;
    height: 400px;

    /* justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;

    align-content: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between; */

    /* justify-content: flex-end; */

    justify-content: space-between;

    /* align-content: flex-end; */

    align-content: space-between;





    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color:bisque;
    padding: 10px;
  }
  
  .content {
    background-color:cadetblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }