body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(93, 87, 87);
    overflow: auto;
    font-size: 17px;
    
    
}
.link{
    float: left;
    padding: 12px;
    text-decoration: none;
    color: white;
   
}
.link:hover{
    background-color: black;
    
    
}
.home{
    float: left;
    background-color: rgb(253, 0, 0);
    padding: 12px;
    text-decoration: none;
    color: white;
    
}
.home:hover{
    background-color: black;
}